/* color palette from <https://github.com/vuejs/theme> */
:root {
  --neutral-subtle: #f9fafb;
  --radius: 5px;
  --gap: 1rem;
  --card-img-height: 288px;
  --card-container-width: 340px;
  --card-margin-top: 120px;
  --footer-text-color: #777;
}
