@import './base.css';

/* Global CSS */
html {
  font-size: 16px; /* 1rem = 16px */
}

/* Put any custom CSS styles here.  */
/* Be sure to delete the <style> tag in index.html if you want to use this stylesheet. */
body {
  margin: 0;
  font-family:
    'Noto Sans',
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Open Sans',
    'Helvetica Neue',
    sans-serif;
  min-height: 100vh;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  background-color: var(--neutral-subtle);
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(to bottom, #f9fafb, #d2d6db);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#app {
  width: 100%;
  height: 95vh;
  overflow: auto;
}

@media screen and (max-width: 768px) {
  #app {
    height: 80vh;
  }
}
